@model IEnumerable<EDSU_JournalMS.Models.EDSUJournal>
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using EDSU_JournalMS.Authorization;
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a asp-action="Create">Submit Journal</a>
</p>
<h3 class="text-center">List of Uploaded Journal</h3>
<div class="admin-data-content layout-top-spacing">
    <div class="row layout-top-spacing" id="cancel-row">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <table id="html5-extension" class="table table-hover non-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Keywords</th>
                            <th>Abstract</th>
                            <th>Complete Article</th>
                            <th>Date Uploaded</th>
                    @{
                        var isManager = User.IsInRole(Constants.ArticleReviewerRole);
                        var isAdmin = User.IsInRole(Constants.ArticleSuperAdminRole);

                        if (isAdmin == false||isManager!=true)
                        {
                           <th>
                          @Html.DisplayNameFor(model => model.UploadedBy)
                         </th>
                        }
                    }
                    <th>Status</th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model )
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Authors)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Keywords)
                                </td>
                                <td>
                                    <div id="PlaceHolderHere"></div>
                                      <button class="dropdown-item" type="button" data-toggle="ajax-modal" data-target="#showAbstract" data-url="@Url.Action($"Abstract/{item.Id}")">
                                       View Abstract
                                       </button>

                                </td>
                                <td>
                                    @Html.ActionLink("Download", "DownloadFile", new{FileName = item.Upload})
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                
                                @{
                    
                                    if (isAdmin == false||isManager!=true)
                                    {
                                        <td>
                                          @Html.DisplayFor(modelItem => item.UploadedBy)
                                       </td> 
                                    }
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>

                                @*<td>
                @Html.DisplayFor(modelItem => item.JournalEditors.FirstName)
            </td>*@
               @{
                 if (isAdmin == false||isManager!=true)
                    {
                  <td>
                      <a asp-action="Details" asp-route-id="@item.Id">Journal Details</a> 
                  </td> 
                  <td>
                      <a asp-action="ViewComment" asp-route-id="@item.Id">See Reviewers' Comments</a> 
                  </td>
                    }
                }

               @{
                   if (isAdmin == true)
                       {
                        <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Check if Acceptable</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Assign Reviewers</a>
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                        </td>
                         @*   return Forbid();*@
                       }
                        //checking if an applicant has applied before
                       // var currentUser = UserManager.GetUserId(User);

                        if (isManager == true)
                        {
                            <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Comment" asp-route-id="@item.Id">Add Comment</a>
                            @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                        </td>
                         @*   return Forbid();*@
                        }
               
               }
         
    </tr>
   }
  </tbody>
   </table>
  </div>
           
        </div>
    </div>
</div>
<script>
    const targetDiv = document.getElementById("third");
    const btn = document.getElementById("toggle");
    btn.onclick = function () {
        if (targetDiv.style.display !== "none") {
            targetDiv.style.display = "none";
        } else {
            targetDiv.style.display = "block";
        }
    };
</script>
